<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary" style="color: darkgrey ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://img.freepik.com/vector-gratis/gradiente-ilustracion-pajaro-colorido_343694-1741.jpg?t=st=1726552999~exp=1726556599~hmac=88a9558b48c2438bceea0c84e3a14f41475bd06002c1317d29afa764336da39d&w=826" alt="Logo" width="30" height="24"  class="d-inline-block align-text-top">
            <span class="titulo">
                BIENVENIDOS A TECH SOFT
            </span>
          </a>
        </div>
      </nav>
</body>
</html>
<router-outlet></router-outlet>
